{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Log In' %}{% endblock title %}

{% block content %}
    <h3>{% trans 'Log In' %}</h3>
    <form method="post" class="mt-4 mb-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success mt-2" type="submit">{% trans 'Log In' %}</button>
    </form>
    <a href="{% url 'account_reset_password' %}" class="text-decoration-none">{% trans 'Forgot password?' %}</a>
{% endblock content %}