{% extends '_base.html' %}
{% block title %}My Answers{% endblock title %}
{% block content %}
    <a href="{% url 'question_create' %}" class="btn btn-success mb-4">Ask Question</a>
    <ul class="nav justify-content-left">
        <li><a href="{% url 'answer_list' %}" class="nav-link px-2 ">My Answers</a></li>
        <li><span class="nav-link px-2 text-muted">To My Questions</span></li>
    </ul>
    {% for question in question_list %}
    <div class="mb-4 mt-3">
        <h5 class="mb-0 {% if question.author == user %} text-success {% else %} text-primary {% endif %}">
            Question {{ question.id }}:
        </h5>
        <small class="text-body-secondary">
            {{ question.created_at }}, <i>by {{ question.author }}</i>
        </small>
        <p class="mb-2 mt-1">{{ question.text }}</p>
        <a class="text-decoration-none" href="{% url 'question_detail' pk=question.id %}">Details</a>
        {% if question.author != user %}
        <a class="text-decoration-none text-success mx-2" href="{% url 'answer_to_question' pk=question.id %}">Answer</a>
        {% endif %}
    </div>
    {% endfor %}
{% endblock content %}