{% extends '_base.html' %}
{% load i18n %}
{% block title %}Help{% endblock title %}
{% block content %}
    <a href="{% url 'question_create' %}" class="btn btn-success mb-4">{% trans 'Ask Question' %}</a>
    <section>
      <h3 class="text-center mb-4 pb-2 text-primary fw-bold">Help</h3>
      <p class="text-center mb-5">
        {% trans 'Find the answers for the most frequently asked questions below' %}
      </p>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">{% trans 'What is it anyway?' %}</h6>
          <p>
            {% trans "Ask questions to the universe and answer them. Let's help each other!" %}
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">{% trans 'I want an interface in another language or another color?' %}</h6>
          <p>
              {% trans '<strong><u>Certainly! </u></strong> You can change the settings in the User Profile' %}
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">{% trans 'Why is my question still not answered?' %}</h6>
          <p>
            {% trans "Perhaps the universe didn't like it very much. A good question is the foundation of a good answer. Try to wait..." %}
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h6 class="mb-3 text-primary">{% trans "Why don't I use the app without answering the question?" %}</h6>
          <p>
            {% trans 'It is proposed to obligatorily answer the question of the universe once a day. Then use as you please.' %}
          </p>
        </div>
      </div>
    </section>
{% endblock content %}
