{% extends '_base.html' %}
{% load i18n %}
{% block title %}{% trans 'My Questions' %}{% endblock title %}
{% block head %}{% include 'ask/_csrf_script.html' %}{% endblock %}
{% block content %}
    <a href="{% url 'question_create' %}" class="btn btn-success mb-4">{% trans 'Ask Question' %}</a>
    <ul class="nav justify-content-left">
        <li><a href="{% url 'question_list' %}" class="nav-link px-2 ">{% trans 'All Questions' %}</a></li>
        <li><span class="nav-link px-2 text-danger">{% trans 'My Questions' %}</span></li>
    </ul>
    {% include 'ask/_question_list.html' %}
{% endblock content %}