{% extends '_base.html' %}

{% block title %}Question {{ question.id }}{% endblock title %}
{% block content %}
<div>
    <h2 class="mb-1">Question {{ question.id }}</h2>
    <p class="text-body-secondary">{{ question.created_at }}, <i>by {{ question.author }}</i></p>
    <p>{{ question.text }}</p>
    <hr>
    <div class="mx-2">
        <h4>Answers:</h4>
        {% if not question.answers.all %}
            <p class="text-secondary">There is no answer to this question yet</p>
        {% else %}
            {% for answer in question.answers.all %}
            <div class="mt-4">
                <div class="mb-1 text-body-secondary">
                    {{ answer.created_at }}, <i>by {{ answer.author }}</i>
                </div>
                <p class="card-text mb-2">{{ answer.text }}</p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}